<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Hello World</title>
    </head>
<body>

    <div class="container">
        <div id="app">
            <div class="form-group">
                <h1>Todo List</h1>
                <br>
                <input type="text" name="todo" id="todo" class="form-control" placeholder="To Do..." v-model="todo" @keyup.enter="addTodo">
                <button class="btn btn-primary" @click="addTodo()" style="margin-top:8px">Add</button>
            </div>

            <table class="table" v-if="todos.length > 0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Todo</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody v-for="(todo, index) in todos" :key="index">
                    <td scope="row">{{index+1}}</td>
                    <td>{{todo}}</td>
                    <td>
                        <button class="btn btn-danger" @click="deleteTodo(index)">
                            Delete
                        </button>
                    </td>
                </tbody>
            </table>
            <h3 v-else>Empty</h3>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>